body {
    font-family:'Courier New', Courier, monospace;
}

.headerbox {
    display: flex;
    justify-content: flex-start;
    border: 2px solid black;
    padding: 15px 15px 0 15px;
    margin: 25px 25px 10px;
}

.headertext {
    font-size: xx-large;
    display: flex;
    align-items: center;
}

.column {
    border: 2px solid black;
    box-sizing: border-box;
    width: 350px;
    height: 700px;
    margin: 10px 20px 30px;
    padding: 5px;
}

nav {
    font-size: larger;
    display: flex;
    justify-content: space-around;
}

main {
    display: flex;
    justify-content: center;
}

.head {
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.head p {
    font-size: x-large;
    font-weight: bold;
    font-style: oblique;
}